<nav class="navbar navbar-dark bg-dark mb-5">
  <a href="" >
    <img class="img-fluid logo navbar navbar-left" src="../assets/images/sportsbizlogo.png">
  </a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://www.linkedin.com/company/sportsbiz-media-group/">About</a>
      <a class="nav-item nav-link" href="#">Dashboard</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://github.com/cnov20" target="_blank">
        <i class="fa fa-github"></i>
      </a>
      <a class="nav-item nav-link" href="https://twitter.com/beeman_nl" target="_blank">
        <i class="fa fa-linkedin"></i>
      </a>
      <a class="nav-item nav-link" href="https://medium.com/@novellichris" target="_blank">
        <i class="fa fa-medium"></i>
      </a>
    </div>
  </div>
</nav>