<div class="jumbotron">
      <h1>SportsBiz</h1>
      <h2>Welcome to your Financial Boxscore</h2>
</div>

	<!-- <div class="jumbotron"> -->
	<div class="resp-container">
      <iframe class="resp-iframe" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fjakeathertonmusician%2Fvideos%2F952756401548524%2F&width=500&show_text=false&height=280&appId" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media" allowFullScreen="true"></iframe>
 	</div>
