<h1>About Us</h1>
<p>SportsBiz Media Group is a producer of proprietary multimedia sports content. This includes flagship radio programming, The Transaction Report and Dealers & Closers.  

The Transaction Report is a weekly program that transcends opinion and provides sports fans with a behind-the-scenes dynamic look at the multimillion-dollar deals that are rapidly changing the sports landscape.  

Dealers & Closers is a daily distributed feature showcasing industry leaders who have successfully negotiated team contracts, player endorsements, stadium developments, broadcasting rights, and corporate sponsorships.
 
SportsBiz Media Group is a purveyor of interactive sports marketing and event management webinars and training programs.  Its content is served in a nonlinear, engaging format that is proven to enhance the learning process.   Clients include universities, high schools, vocational schools, corporations and independent learners.</p>